cowrie.cfg
cowrie.pid
data/lastlog.txt
data/ssh_host_dsa_key
data/ssh_host_dsa_key.pub
data/ssh_host_rsa_key
data/ssh_host_rsa_key.pub
dl/*
log/*
log/tty/*
cowrie-textlog.log
private.key
public.key
__pycache__/
*.py[cod]
env/
env1/
env2/
twisted/plugins/dropin.cache
.DS_Store
