cowrie.cfg
cowrie.pid
etc/ssh_host_dsa_key
etc/ssh_host_dsa_key.pub
etc/ssh_host_rsa_key
etc/ssh_host_rsa_key.pub
var/log/cowrie/*
*.egg-info
dl/
dist/
docs/_build
build/
log/
.eggs/
.envrc
.direnv/
.pyre/
.pytype/
__pycache__/
*.py[cod]
*env/
src/twisted/plugins/dropin.cache
.DS_Store
_trial_temp
.project
.pydevproject
.idea/
.tox
