cowrie.cfg
cowrie.pid
etc/ssh_host_dsa_key
etc/ssh_host_dsa_key.pub
etc/ssh_host_rsa_key
etc/ssh_host_rsa_key.pub
var/log/cowrie/*
cowrie.egg-info/
dl/
build/
log/
__pycache__/
*.py[cod]
*env/
twisted/plugins/dropin.cache
.DS_Store
_trial_temp

