[honeypot]
;ssh_addr = 0.0.0.0
ssh_port = 2222
hostname = sales
log_path = log
download_path = dl
contents_path = honeyfs
data_path = data
txtcmds_path = txtcmds
filesystem_file = fs.pickle
public_key = public.key
private_key = private.key
password = 123456
;out_addr = 0.0.0.0
;sensor_name=myhostname

;[database_mysql]
;host = localhost
;database = kippo
;username = kippo
;password = secret
