attrs==25.1.0
bcrypt==4.2.1
cryptography==44.0.1
hyperlink==21.0.0
idna==3.10
packaging==24.2
pyasn1_modules==0.4.1
requests==2.32.3
service_identity==24.2.0
tftpy==0.8.2
treq==24.9.1
twisted==24.11.0
urllib3==2.3.0