appdirs==1.4.4
attrs==23.2.0
bcrypt==4.1.3
configparser==7.0.0
cryptography==42.0.8
packaging==24.0
pyasn1_modules==0.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
service_identity==24.1.0
tftpy==0.8.2
treq==23.11.0
twisted==24.3.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
