Sphinx==4.2.0
flake8==4.0.1
importlib_metadata<4; python_version<'3.8'
mypy-extensions==0.4.3; platform_python_implementation=='CPython'
mypy-zope==0.3.2; platform_python_implementation=='CPython'
mypy==0.910; platform_python_implementation=='CPython'
pathspec==0.9.0
pipdeptree==2.2.0
pre-commit==2.15.0
pur==5.4.2
pyre-check==0.9.6
pytype==2021.10.11; platform_python_implementation=='CPython' and python_version<'3.10'
pyupgrade==2.29.0
pyyaml==6.0
setuptools==58.2.0
sphinx-copybutton==0.4.0
sphinx_rtd_theme==1.0.0
tox==3.24.4
twistedchecker==0.7.4
types-python-dateutil==2.8.2
types-redis==3.5.15
types-requests==2.25.11
yamllint==1.26.3
