# csirtg. it has an implicit dependency on geoip2
csirtgsdk==1.1.5
geoip2

# dshield
requests==2.31.0

# elasticsearch
elasticsearch==8.9.0

# hpfeeds
hpfeeds3==0.9.10

# mysql
mysql-connector-python==8.1.0

# mongodb
pymongo==4.5.0

# rethinkdblog
rethinkdb==2.4.9

# s3
botocore==1.31.40

# slack
slackclient==2.9.4

# influxdb
influxdb==5.3.1

# dblog_xmpp
wokkel==18.0.0

# misp
pymisp==2.4.175

# redis
redis==5.0.0

