[Unit]
Description=Cowrie SSH and Telnet Honeypot
Documentation=https://github.com/micheloosterhof/cowrie
After=network.target
#Wants=syslog.target
Wants=mysql.service

[Service]
Type=forking
User=cowrie
Group=cowrie
PIDFile=/home/cowrie/cowrie/var/run/cowrie.pid
ExecStart=/home/cowrie/cowrie/bin/cowrie start
ExecStop=/home/cowrie/cowrie/bin/cowrie stop
ExecReload=/home/cowrie/cowrie/bin/cowrie stop && sleep 10 && /home/cowrie/cowrie/bin/cowrie start
WorkingDirectory=/home/cowrie/cowrie/
Restart=on-failure
TimeoutSec=300

[Install]
WantedBy=multi-user.target
