[Unit]
Description=A SSH and Telnet honeypot service
After=network.target

[Service]
Type=simple
User=cowrie
Restart=always
RestartSec=5
WorkingDirectory=/opt/cowrie
ExecStartPre=/opt/cowrie/bin/cowrie stop
ExecStart=/opt/cowrie/bin/cowrie start
PIDFile=/opt/cowrie/var/run/cowrie.pid

[Install]
WantedBy=multi-user.target