[Unit]
Description=Cowrie SSH/Telnet Honeypot
After=network.target

[Service]
Type=simple
User=cowrie
Group=cowrie
WorkingDirectory=/home/cowrie/cowrie
Environment="PATH=/home/cowrie/cowrie/cowrie-env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/cowrie/cowrie/cowrie-env/bin/python3 /home/cowrie/cowrie/cowrie-env/bin/twistd \
    -n \
    --umask=0022 \
    --pidfile=/home/cowrie/cowrie/var/run/cowrie.pid \
    --logger cowrie.python.logfile.logger \
    cowrie
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target