[Unit]
Description=Cowrie SSH and Telnet honeypot socket
PartOf=cowrie.service

[Socket]
ListenStream=2222
ListenStream=2223

[Install]
WantedBy=sockets.target
